extends common/base

block title
    | Index page

block main
    h1 index
    img(src=require("../images/menu.svg") width="100")
    div test

    button#btn(type="button") Send It !

    #app
        my-component
    include vue/mycomponent